.features {
  color: var(--ifm-color-primary-darkest);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 0 0;
  width: 100%;
  min-height: 500px;
  max-height: 500px;
}

.featureSvg {
  height: 400px;
  width: 400px;
  align-self: center;
}

.navArrow {
  font-size: xx-large;
  font-family: monospace;
  color: var(--ifm-color-primary-darker);
  background: none;
  border: none;
}

.navArrow:hover {
  color: var(--ifm-color-primary-lightest);
  background-color: var(--ifm-color-primary-dark);
  border-radius: 16px;
  text-decoration: none;
}